footer{
    background-color: #383c44;
}
.container-fluid
{
    width:94%;
}

footer h1
{
    writing-mode: vertical-rl;
    font-size: 50px;
    transform: rotate(180deg);
}
hr{
    background-color: #ffffff;
    height: 2px;
    width: 50%;
    margin-left: 0;
}
.error
{
    color:#FF0000;
    text-align: center;
}
.success
{
    color:#0B6623;
    text-align: center;

}